@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;  
    background: radial-gradient(
    circle at 80% 10%, 
    rgba(99, 130, 159, 0.55) 0%, 
    rgba(9, 22, 38, 0.9) 35%, 
    #06111F 85%
),
linear-gradient(
    180deg,
    #748ca7 0%,
    #5a9bf1 100%
);
  }
  #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
}
